.container {
  background-color: #282c34;
  display: flex;
  max-width: 100vw;
  max-height: 100vh;
}
.logos {
  border: 1px solid #e25125;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25vw;
  height: 99.8vh;
  align-items: center;
}
.logos img {
  height: 25%;
}
.center {
  border: 1px solid #67e613;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 50vw;
  height: 99.8vh;
  text-align: center;
}
.right {
  border: 1px solid #e613ca;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 25vw;
  height: 99.8vh;
  text-align: center;
}
